@import '../node_modules/normalize.css/normalize';
@import "nav";
@import "mobile/navMobile";

body
{
	font-family: raleway;
	margin:  0px;
}

.localisation
{
    display: flex;  
    justify-content: center;
    align-items: center;
	background-color: #eaeaea;
	height: 50px;
	width: 100%;
	padding-top: 1px;
    box-shadow: inset 0px 8px 11px -13px black;
    gap: 1%;
	
}

header
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
	margin-bottom: 1px;
}

.localisation p
{
    
	font-weight: bold;
	text-align: center;
	padding-top: 0.5px;
	
}


.explore_menu
{
	background-color: rgb(245, 241, 241);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 215px;
	text-align: center;

}

h1
{
	
	font-weight: bold;
	text-align: center;
	width: 100%;
	
}

.explore_menu p
{
    margin-top: -2px;
}

.bouton_rechercher
{
	background: linear-gradient(351deg, #9356DC 15%, #FF79DA 85%);
	color: white;
	font-weight: bold;
	height: 50px;
	width: 230px;
	border: none;
	border-radius: 25px 25px 25px 25px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
    margin-top: 10px;
}

.fonctionnement
{
	margin: 30px;
	
}

h2{
	font-weight: bold;
    text-align: center;
}

.bulle
{
	background-color: #f6f6f6;;
	height: 70px;
	width: 320px;
	border-radius: 25px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
    margin-left: 4px;
    gap: 6%;
    box-shadow: 0px 9px 20px -18px #353535;
}

.ongletsfonct
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.bulle p
{
	padding-left: 10px;
}

.bulle span
{
    display: flex;
    justify-content: center;
    background-color: #9356DC;
    align-items: center;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    color: white;
    position: relative;
    left: -11px;
	font-size: 15px;
	font-weight: lighter;
}

.fa-mobile-screen-button,
.fa-list-ul,
.fa-store
{
	color: grey;
	font-size: 140%;
}

.ongletsfonct p
{
    font-weight: bold;
}

.carte_resto
{
	gap: 16px;
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 20px;
}

.carte_resto > div
{
	padding: 16px;
	border-radius: 16px;
}

.titre_hebergement
{
	margin: 15px 0 15px 15px;
	font-size: 20px;
}

.carte_resto span
{
	font-weight: bold;
}


.bloc_resto
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 35px;
	
}

.carte_resto .bloc_populaire
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.case_resto
{
	background-color: white;
	border-radius: 16px;
	box-shadow: 0 0 16px grey;
	flex-grow: 1;
	width: 200px;
	margin: 15px;
	height: 225px;
}

a
{
    text-decoration: none;
    color: black;
}

.case_resto:hover
  {
	transform: scale(1.01);
  }

.case_resto h3 {
	font-size: 16px;
}

.case_resto img
{
	border-radius: 16px 16px 0 0;
	height: 147px;
	width: 100%;
	object-fit: cover;
}

.titre_adresse p,
{
	margin-left: 4px;
    padding-left: 5px;
    margin-top: 1px;
}

.case_resto h3,
{
	font-size: 110%;
	margin: 4px;
    padding: 5px;
}

.titre_adresse
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer{
    width: 100%;
    background-color: #353535;
    flex-wrap: wrap;
	height: 84px;
}

.bloc_footer
{
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer p
{
    color: white;
}
.footer_link
{
    padding: 20px 0;
    display: flex;
    gap: 9px;
    align-items: center;
}
footer img
{
	width: 150px;
	height: 30px;
}

.fa-utensils,
.fa-handshake-angle,
{
	color: white;
}

.coeur
{
	padding-right: 10px;
}

.fa-regular
{
	font-size: 155%;
}

.resto_card
{	
    border-radius: 4px;
    background-color: #99E2D0;
    color: #1f987a;
    width: 80px;
    height: 23px;
    padding-left: 11px;
	font-weight: bold;
	padding-top: 7px;
	position: absolute;
	margin-top: -133px;
    margin-left: 136px
}

@media screen and (max-width: 768px)
{

	.localisation
	{
		gap: 5%;
	}
	.explore_menu
	{
		height: 253px;
	}

	.fonctionnement
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.ongletsfonct
	{
		flex-direction: column;
		gap: none;
	}
	.carte_resto
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: #f5f1f1;
		margin: 0;
		gap: 0;
	}

	.carte_resto h2,
	{
		padding-left: 20px;
		padding-top: 35px;
	}

	.case_resto
	{
		margin: 0%;
		height: 240px;
	}

	.carte_resto > div
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 0;
	padding-bottom: 0%;
	border-radius: 16px;
	gap: 25px;
}
	.case_resto img {
		height: 167px;
	}

	.resto_card
	{
		margin-top: -158px;
    	margin-left: 245px;
	}

	footer
	{
		height: 224px;
	}

	.footer_link
	{
		margin-top: -59px;
	}

	.bloc_footer
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-content: flex-start;
		padding-left: 26px;
		padding-top: 27px;
	}
	.bloc_footer img
	{
		padding-bottom: 40px;
	}

	.fa-handshake-angle
	{
		font-size: 73%;
	}

}