@import '../node_modules/normalize.css/normalize';
@import "nav";


body
{
	font-family: raleway;
	margin:  0px;
}



.localisation
{
    display: flex;  
    justify-content: center;
    align-items: center;
	background-color: #eaeaea;
	height: 50px;
	width: 100%;
	padding-top: 1px;
    box-shadow: inset 0px 8px 11px -13px black;
    gap: 1%;
	
}

header
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
	margin-bottom: 1px;
}

.localisation p
{
    
	font-weight: bold;
	text-align: center;
	padding-top: 0.5px;
	
}


.explore_menu
{
	background-color: rgb(245, 241, 241);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 215px;
	text-align: center;

}

h1
{
	
	font-weight: bold;
	text-align: center;
	width: 100%;
	
}

.explore_menu p
{
    margin-top: -2px;
}

.bouton_rechercher
{
	background: linear-gradient(351deg, #9356DC 15%, #FF79DA 85%);
	color: white;
	font-weight: bold;
	height: 50px;
	width: 230px;
	border: none;
	border-radius: 25px 25px 25px 25px;
	box-shadow: 8px 16px 32px -8px grey;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
    margin-top: 10px;
	transform: scale(1);
    &:hover {
		background: linear-gradient(351deg, #9b6ed3 15%, #f08fd5 85%);
		box-shadow: 8px 6px 40px -8px black;
    }
}

.fonctionnement
{
	margin: 30px;
	
}

h2{
	font-weight: bold;
    text-align: center;
}

.bulle
{
	background-color: #f6f6f6;;
	height: 70px;
	width: 320px;
	border-radius: 25px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
    margin-left: 4px;
    gap: 6%;
    box-shadow: 0px 9px 20px -18px #353535;
	transform: scale(1);
    &:hover {
		background: #f3eff7;
		box-shadow: 5px 10px 30px -10px grey;
    }
}

.ongletsfonct
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.bulle p
{
	padding-left: 10px;
}

.bulle span
{
    display: flex;
    justify-content: center;
    background-color: #9356DC;
    align-items: center;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    color: white;
    position: relative;
    left: -11px;
	font-size: 15px;
	font-weight: lighter;
}

.fa-mobile-screen-button,
.fa-list-ul,
.fa-store
{
	color: grey;
	font-size: 140%;
}

.ongletsfonct p
{
    font-weight: bold;
}

.carte_resto
{
	gap: 16px;
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 20px;
}

.carte_resto > div
{
	padding: 16px;
	border-radius: 16px;
}

.titre_hebergement
{
	margin: 15px 0 15px 15px;
	font-size: 20px;
}

.carte_resto span
{
	font-weight: bold;
}


.bloc_resto
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 35px;
	
}

.carte_resto .bloc_populaire
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.case_resto
{
	background-color: white;
	border-radius: 16px;
	box-shadow: 0 0 16px grey;
	flex-grow: 1;
	width: 200px;
	margin: 15px;
	height: 225px;
}

a
{
    text-decoration: none;
    color: black;
}

.case_resto:hover
  {
	transform: scale(1.01);
  }

.case_resto h3 {
	font-size: 16px;
}

.case_resto img
{
	border-radius: 16px 16px 0 0;
	height: 147px;
	width: 100%;
	object-fit: cover;
}

.titre_adresse p,
{
	margin-left: 4px;
    padding-left: 5px;
    margin-top: 1px;
}

.case_resto h3,
{
	font-size: 110%;
	margin: 4px;
    padding: 5px;
}

.titre_adresse
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer{
    width: 100%;
    background-color: #353535;
    flex-wrap: wrap;
	height: 84px;
}

.bloc_footer
{
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer p
{
    color: white;
}
.footer_link
{
    padding: 20px 0;
    display: flex;
    gap: 9px;
    align-items: center;
}
footer img
{
	width: 150px;
	height: 30px;
}

.fa-utensils,
.fa-handshake-angle
{
	color: white;
}

.coeur_empty
{
	margin-right: 21px;
}
.coeur_full
{
	margin-right: -29px;
	font-size: 157%;
	color: transparent;
	transform: scale(1);
	transition-property: transform;
    transition-duration: 1000ms;
    &:hover {
		color: #FF79DA;
		opacity: 1;
		transition: 2s;
}
}

.fa-regular
{
	font-size: 155%;
}

.resto_card
{	
    border-radius: 4px;
    background-color: #99E2D0;
    color: #1f987a;
    width: 80px;
    height: 23px;
    padding-left: 11px;
	font-weight: bold;
	padding-top: 7px;
	position: absolute;
	margin-top: -133px;
    margin-left: 136px
}

.loader
{
	$animation-duration: 1s;
	position: fixed;
	display: grid;
	place-items: center;
	height: 100vh;
	background: linear-gradient(351deg, #9356DC 15%, #FF79DA 85%);
	inset: 0;
	z-index: 1;
	opacity: 0.5;
	animation: disappear 400ms $animation-duration forwards; 
	animation-delay: 3s;
	transform-origin: center;
	&::after{
		content: "";
		height: 100px;
		width: 100px;
		border-right: 5px solid transparent;
		border-top: 5px solid white;
		border-radius: 50%;
		animation: spin $animation-duration infinite ease-in-out;
	}
}

@keyframes disappear
{
	to
	{
		transform: scale(0);
	}

}

@keyframes spin {
	to{
		transform: rotate(360deg)
	}
}

@import "mobile/indexMobile";