@import '../node_modules/normalize.css/normalize';
@import "nav";
@import "mobile/navMobile";

body
{
	font-family: raleway;
	margin:  0px;
}

.localisation
{
    display: flex;  
    justify-content: center;
    align-items: center;
	background-color: #eaeaea;
	height: 50px;
	width: 100%;
	padding-top: 1px;
    box-shadow: inset 0px 8px 11px -13px black;
    gap: 1%;
	
}

header
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
	margin-bottom: 1px;
}

.localisation p
{
    
	font-weight: bold;
	text-align: center;
	padding-top: 0.5px;
	
}


.explore_menu
{
	background-color: rgb(245, 241, 241);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 215px;
	text-align: center;

}

h1
{
	
	font-weight: bold;
	text-align: center;
	width: 100%;
	
}

.explore_menu p
{
    margin-top: -2px;
}

.bouton_rechercher
{
	background: linear-gradient(351deg, #9356DC 15%, #FF79DA 85%);
	color: white;
	font-weight: bold;
	height: 50px;
	width: 230px;
	border: none;
	border-radius: 25px 25px 25px 25px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
    margin-top: 10px;
}

.fonctionnement
{
	margin: 30px;
	
}

h2{
	font-weight: bold;
    text-align: center;
}

.bulle
{
	background-color: #f6f6f6;;
	height: 70px;
	width: 300px;
	border-radius: 25px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    flex-basis: 35%;
    gap: 6%;
    box-shadow: 0px 9px 20px -18px #353535;
}

.ongletsfonct
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.bulle p
{
	padding-left: 10px;
}

.bulle span
{
    display: flex;
    justify-content: center;
    background-color: #9356DC;
    align-items: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color: white;
    position: relative;
    left: -9px;
    font-weight: bold;
}

.ongletsfonct p
{
    font-weight: bold;
}

.carte_resto
{
	gap: 16px;
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 20px;
}

.carte_resto > div
{
	padding: 16px;
	border-radius: 16px;
}

.titre_hebergement
{
	margin: 15px 0 15px 15px;
	font-size: 20px;
}

.carte_resto span
{
	font-weight: bold;
}


.bloc_resto
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 35px;
	
}

.carte_resto .bloc_populaire
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.case_resto
{
	background-color: white;
	border-radius: 16px;
	box-shadow: 0 0 16px grey;
	flex-grow: 1;
	width: 200px;
	margin: 15px;
}

a
{
    text-decoration: none;
    color: black;
}

.case_resto:hover
  {
	transform: scale(1.01);
  }

.case_resto h3 {
	font-size: 16px;
}

.case_resto img
{
	border-radius: 16px 16px 0 0;
	height: 102px;
	width: 100%;
	object-fit: cover;
}

.case_resto p,
.case_resto h3,
{
	margin: 4px;
    padding: 5px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #353535;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
}
footer p
{
    color: white;
}
.footer_link
{
    padding: 20px 0;
    display: flex;
    gap: 3px;
    align-items: center;
}
footer img
{
	width: 150px;
	height: 30px;
}

.coeur
{
    padding-left: 176px;
    margin-top: -39px;
}
