@import '../node_modules/normalize.css/normalize';

body
{
	font-family: roboto;
	margin:  0px;
}

header
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
	margin-bottom: 1px;
    gap: 15px;
}
.fa-arrow-left
{
    color: black;
    font-weight: bold;
    font-size: 120%;
}

header img
{
	width: 150px;
	height: 30px;
}
h1
{
    font-family: shrikhand;
    font-size: 174%;
}

.bloc_main
{
    background-color: rgb(244, 242, 242);
    border-radius: 35px 35px 25px 25px;
    position: relative;
    margin-top: -30px;
}

.en_tete_resto img
{
    height: 400px;
    width: 100%;
}

.menu_tete
{
    display: flex;
    margin-left: 39px;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.fa-heart
{
    font-size: 150%;
}

.menu_container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    height: 525px;
}

.bloc_menu
{
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-basis: 30%;
    margin-top: -16px;
    overflow: hidden;
}

.underline
{
    border-bottom: 4px solid #99E2D0;
    width: 67px;
    margin: 0px 0px 15px 10px;
}

.entree
{
    @for $i from 1 through 4
    {
        &:nth-child(#{$i})
        {
           animation-delay: 300ms * $i;
        }
    }
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 15px;
    padding-left: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    animation: appear 4s;
    &:hover {.anim_plat 
{
    margin-right: 0px;
}
i {
    animation: quarterspin 1s;
}
}
}

.anim_plat
{
    background-color: #99E2D0;
    margin-right: -62px;
    width: 62px;
    border-radius: 0 20px 20px 0;
    transition: all 1s;
    display: grid;
    place-items: center;
    justify-content: center;
    i{
        display: grid;
        place-items: center;
        background: white;
        aspect-ratio: 1;
        width: 23px;
        border-radius: 1rem;
        color: #99E2D0;
    }
}

.texte p
{
    margin-top: -13px;
    font-size: 90%;
    font-weight: lighter;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.texte
{
    margin-right: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

h2
{
    font-weight: lighter;
    margin-bottom: 6px;
}

h3
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.coeur_empty
{
	margin-right: 21px;
}

.coeur_full
{
	margin-right: -28.5px;
	font-size: 157%;
	color: transparent;
	opacity: 0;
	transform: scale(1);
	transition: all 1s ease-in-out;
    &:hover {
		color: transparent;
		background: linear-gradient(#9356DC 15%, #FF79DA 85%);
		background-clip: text;
		-webkit-background-clip: text;
		opacity: 1;}
}

.prix
{
    margin-top: 44px;
    font-weight: bold;
    margin-right: 10px;
}

.bouton_commander
{
    margin: auto;
    color: white;
    padding: 15px;
    border-radius: 25px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    box-shadow: 8px 16px 32px -8px grey;
    width: 150px;
    text-align: center;
    text-decoration: none;
    margin-top: -31px;
    cursor: pointer;
    transform: scale(1);
    &:hover {
		background: linear-gradient(351deg, #9b6ed3 15%, #f08fd5 85%);
		box-shadow: 8px 6px 40px -8px black;
    }
}

footer{
    width: 100%;
    background-color: #353535;
    flex-wrap: wrap;
	height: 84px;
}

.bloc_footer
{
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer p
{
    color: white;
}

.logo_white
{
	font-family: shrikhand;
	font-size: 140%;
}

.footer_link
{
    padding: 20px 0;
    display: flex;
    gap: 9px;
    align-items: center;
    cursor: pointer;
}

a
{
    text-decoration: none;
}

.fa-utensils,
.fa-handshake-angle
{
	color: white;
}

@media screen and (max-width: 768px)
{

    header
    {
        display: flex;
        gap: 0;
    }

.fa-arrow-left
{
    margin-left: -82px;
    font-size: 150%;
}

.en_tete_resto img
{
    height: 273px;
}
.fa-heart
{
    font-size: 200%;
}
.menu_tete
{
    padding-top: 17px;
    margin-left: 22px;
}
.coeur_empty
{
	margin-right: 21px;
}

.coeur_full
{
	margin-right: -37px;
	font-size: 206%;
	color: transparent;
	opacity: 0;
	transform: scale(1);
	transition: all 1s ease-in-out;
    &:hover {
		color: transparent;
		background: linear-gradient(#9356DC 15%, #FF79DA 85%);
		background-clip: text;
		-webkit-background-clip: text;
		opacity: 1;}

}

.menu_container
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 294px;
    padding-left: 16px;
    padding-right: 16px;
}
.bloc_main
{
height: 1268px;
}

.bloc_menu
{
    overflow: visible;
}

.bouton_commander
{
    margin-top: 0;
}

footer
	{
		height: 230px;
	}

	.footer_link
	{
		margin-top: -59px;
	}

    .bloc_footer
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-content: flex-start;
		padding-left: 26px;
		padding-top: 12px;
	}
	.bloc_footer img
	{
		padding-bottom: 40px;
	}
    
    .fa-handshake-angle {
        font-size: 73%;
    }
    
        .logo_white
        {
            margin-bottom: 20px;
        }
 }
    



@keyframes appear
{
    0%
    {
        transform: translateY(70%);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes quarterspin {
    0% {
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(0);
    }
}